<!--<div class="container text-center" style="background: grey;">
   <label for="">Full Name:</label>  <input [(ngModel)]="FullName"><br>
    <label>Email:  </label>   <input [(ngModel)]="Email"><br>
    <label for="">Contact No.</label>   <input [(ngModel)]="String"><br>

</div>

<button (click) ="addTheMessage()" class="btn-danger">Submit</button> -->

<!--section 6---Enquiry form-->


<section class="p-5" style="background: linear-gradient(rgba(10,0,0, 0.65), rgba(0,0,0, 0.75)), url(../resources/home_page/enc.jpg);">
    <div class="container">
       
        <div class="row">
            <div class="col-md-12" >
                <form action="" style="opacity: 0.65;">
                    <div class="container text-center form-container">
                        <div class="row mb-4">
                            <div class="col-md-12 text-center">
                                <h3 class="section-heading text-white">Academy Service</h3> 
                                <p class="sub-heading text-white">Please send us your query and we feel very happy in helping you</p>
                            </div>
                           
                        </div>
                        <div class="row mb-3">
                            <div class="col-md-4 ">
                                <label for="">FullName</label>
                                <input type="text" name="name" placeholder="Enter Your Name" class="form-control">
                            </div>
                            <div class="col-md-4">
                                <label for="">Email</label>
                                <input type="text" name="email" placeholder="Enter Your Email" class="form-control">
                            </div>
                            <div class="col-md-4">
                                <label for="">Phone</label>
                                <input type="text" name="phone" placeholder="Enter Phone Number" class="form-control">
                            </div>
                        </div>

                        <div class="row mb-3">
                            <div class="col-md-4 ">
                                <label for="">Zip Code</label>
                                <input type="text" name="name" placeholder="Zip Code" class="form-control">
                            </div>
                           
                            <div class="col-md-8">
                                <label for="">Country</label>
                               <select name="" id="" class="form-control">
                                <option>INDIA</option>
                        		<option>U.S.A</option>
                        		<option>UK</option>
                        		<option>AUSTRALIA</option>
                        		<option>GERMANY</option>
                               </select>
                            </div>

                            
                        </div>
                        <div class="row mb-3" >

                            <div class="col-md-6">
                                <label for="">Category</label>
                               
                                <select name="" id="" class="form-control">
                                    <option vlaue = "Core UI">Core UI</option>
                                    <option vlaue = "Backend">Backend</option>
                                    <option vlaue = "Full Stack">Full Stack</option>
                                    <option vlaue = "DevOps">DevOps</option>
                                    <option vlaue = "Data Science $ AI/ML">Data Science $ AI/ML</option>
                                    <option>Digital Marketing</option>
                                    <option>Cloud Computing</option>
                                    <option>Cyber Security</option>
                                    <option>ERP</option>
                                    <option>IT</option>
                                    <option>IT Certifications</option>
                                </select>
                           
                        </div>
                        
                            <div class="col-md-6">
                                <label for="">Sub-Category</label>
                               
                               
                                    <select name="" id="" class="form-control">
                                    <option>Core UI</option>
                                    <option>Advanced UI</option>
                                    <option>Angular JS</option>
                                    <option>React JS</option>
                                    <option>Vue JS</option>
                                    <option>Java</option>
                                    <option>.Net</option>
                                    <option>Node JS</option>
                                    <option>Ruby</option>
                                    <option>Python</option>
                                    <option>Core Java</option>
                                    <option>Advance Java</option>
                                    <option>.Net</option>
                                    <option>.Net Core</option>
                                    <option>MEAN</option>
                                    <option>MESN</option>
                                    <option>MEVN</option>
                                    <option>GoLang</option>
                                    <option>Ruby</option>
                                    <option>Flutter</option>
                                    <option>Ionic</option>
                                    <option>React Native</option>
                                    <option>Xamarin</option>
                                    <option>Onsen UI</option>
                                    <option>IOS</option>
                                    <option>Android</option>
                                    <option>DevOps Foundation</option>
                                    <option>DevOps Expert</option>
                                    <option>Ansible</option>
                                    <option>Chef</option>
                                    <option>Docker</option>
                                    <option>Kubernets</option>
                                    <option>Open Stack</option>
                                    <option>DS Boot Camp</option>
                                    <option>ML With Python</option>
                                    <option>Deep Learning</option>
                                    <option>Data Analytics</option>
                                    <option>Data Scientist Certification</option>
                                    <option>Natural Language Processing</option>
                                    <option>R Programming</option>
                                    <option>AI/ML Foundation Course</option>
                                    <option>AI/ML Expert Course</option>
                                    <option>Hadoop</option>
                                    <option>AWS Technical Essentials</option>
                                    <option>AWS Cloud Practitioner</option>
                                    <option>AWS Solution Architect Associate</option>
                                    <option>AWS Developer Associate</option>
                                    <option>AWS SysOps Associate Administrator</option>
                                    <option>Microsoft Azure Fundamentals</option>
                                    <option>Microsoft Azure Expert Certification</option>
                                    <option>CISSP</option>
                                    <option>CISA</option>
                                    <option>CEH</option>
                                    <option>COMPTIA Security++</option>
                                    <option>CISM</option>
                                    <option>CSA</option>
                                    <option>CAP</option>
                                    <option>CCSP</option>
                                    <option>CALIFORNIA PRIVACY LAW</option>
                                    <option>CIPP/US</option>
                                    <option>CIPP/EUROPE</option>
                                    <option>Digital Marketing Foundation</option>
                                    <option>Digital Marketing Expert</option>
                                    <option>SEO</option>
                                    <option>SMO</option>
                                    <option>SCM</option>
                                    <option>SMM</option>
                                    <option>Adwords Foundation</option>
                                    <option>Adwords Expert</option>
                                    <option>Content Marketing</option>
                                    <option>Branding</option>
                                    <option>SAP</option>
                                    <option>Oracle</option>
                                    <option>Infor LN</option>
                                    <option>RootStack</option>
                                    <option>Salesforce</option>
                                    <option>Service Now</option>
                                    <option>Remedy</option>
                                    <option>Microsoft Dynamics</option>
                                    <option>ITIL Foundation</option>
                                    <option>PMP</option>
                                    <option>PMI-ACP</option>
                                    <option>Agile</option>
                                    <option>Prince</option>
                                    </select>
                               
                            </div>

                        
                        </div>
                        <div class="row">
                            <div class="col-md-12">
                                <textarea name="message" rows="7" maxlength="500" class="form-control"  placeholder="Type Your Message Here"></textarea>
                            </div>

                        </div>
                        <div class="row mt-4">
                            <div class="col-md-12">
                                <input type="submit" value="SUBMIT" class="btn btn-danger btn-lg">
                            </div>

                        </div>
                    </div>
                   
                    
                </form>
            </div>
       
        </div>

    </div>
</section>
<!--end of section 6-Enquiry form-->




