   <div class="container-fluid">
    <div class="container-fluid p-5">
        <h1 class="text-center">Caramel IT Services</h1>
        <h1 class="text-center">  Contact Us </h1>
        <div class="container">
            <div class="row" >
                <div class="col-md-6" style="text-align: center;"><a routerLink="/itservice" routerLinkActive="active" style="font-size: 30px; text-decoration: none; color: green;"> It services</a></div>
            <div class="col-md-6" style="text-align: center;" ><a routerLink= "/academy" routerLinkActive="active" style="font-size: 30px; text-decoration: none; color: green;">Academy service</a></div>

            </div>
            
         
         
        </div>
        <router-outlet></router-outlet>
        
       </div>
   </div>
  
  