<div class="container text-center" style="background: grey;">
   <label for="">Full Name:</label>  <input [(ngModel)]="FullName"><br>
    <label>Email:  </label>   <input [(ngModel)]="Email"><br>
    <label for="">Contact No.</label>   <input [(ngModel)]="Number"><br>

</div>

<button (click) ="addTheMessage()" class="btn-danger">Submit</button> 

<!--section 6---Enquiry form


<section class="p-5" style="background: linear-gradient(rgba(10,0,0, 0.65), rgba(0,0,0, 0.75)), url(../resources/home_page/enc.jpg);">
    <div class="container">
       
        <div class="row">
            <div class="col-md-12" >
                <form action="" style="opacity: 0.65;">
                    <div class="container text-center form-container">
                        <div class="row mb-4">
                            <div class="col-md-12 text-center">
                                <h3 class="section-heading text-white">IT Service</h3> 
                                <p class="sub-heading text-white">Please send us your query and we feel very happy in helping you</p>
                            </div>
                           
                        </div>
                        <div class="row mb-3">
                            <div class="col-md-4 ">
                                <label for="">FullName</label>
                                <input type="text" name="name" placeholder="Enter Your Name" class="form-control">
                            </div>
                            <div class="col-md-4">
                                <label for="">Email</label>
                                <input type="text" name="email" placeholder="Enter Your Email" class="form-control">
                            </div>
                            <div class="col-md-4">
                                <label for="">Phone</label>
                                <input type="text" name="phone" placeholder="Enter Phone Number" class="form-control">
                            </div>
                        </div>

                        <div class="row mb-3">
                            <div class="col-md-4 ">
                                <label for="">Zip code</label>
                                <input type="text" name="name" placeholder="Zip Code" class="form-control">
                            </div>
                           
                            <div class="col-md-8">
                                <label for="">Country</label>
                               <select name="" id="" class="form-control">
                                <option>INDIA</option>
                        		<option>U.S.A</option>
                        		<option>UK</option>
                        		<option>AUSTRALIA</option>
                        		<option>GERMANY</option>
                               </select>
                            </div>

                            
                        </div>
                        <div class="row mb-3" >
                            <div class="col-md-6">
                                <label for="">Services</label>
                               
                               
                                    <select name="" id="" class="form-control">
                                        <option>Mobile App</option>
                                        <option>Wed Development</option>
                                        <option>Digital Marketing</option>
                                        <option>DevOps</option>
                                        <option>Python Development</option> 
                                    </select>
                               
                            </div>

                            <div class="col-md-6">
                                <label for="">Budget</label>
                               
                                <select name="" id="" class="form-control">
                                <option>25000 - 50000</option>
                        		<option>50000 - 100000</option>
                        		<option>100000 - 150000</option>
                        		<option>150000 - 200000</option>
                        		<option>200000 - 250000</option>
                        		<option>250000 - 300000</option>
                        		<option>>300000</option>
                                </select>
                           
                        </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12">
                                <textarea name="message" rows="7" maxlength="500" class="form-control"  placeholder="Type Your Message Here"></textarea>
                            </div>

                        </div>
                        <div class="row mt-4">
                            <div class="col-md-12">
                                <input type="submit" value="SUBMIT" class="btn btn-danger btn-lg">
                            </div>

                        </div>
                    </div>
                   
                    
                </form>
            </div>
       
        </div>

    </div>
</section>


end of section 6-Enquiry form-->





